{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

        <title>Rantangin</title>
        <style>
            body {
                margin-top: 5rem;
            }
        </style>
    </head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Navigasi Bar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">       
            <a class="navbar-brand fw-bold" href="#">Rantangin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div  class="item collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item">
                        <a class="nav-link"href="#">Promo</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Makanan</a></li>
                            <li><a class="dropdown-item" href="#">Minuman</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Cemilan</a></li>
                        </ul>
                    </li>
            
                    <li class="nav-item">
                        <a href="#" class="nav-link">About</a>
                    </li>
                    
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'keranjang' %}">Keranjang</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link fw-bold" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                    <a class="nav-link fw-bold" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="{% url 'signup' %}">Singup</a>
                    </li>
                    {% endif %}
                    </ul>
            </div>
        </div>
    </nav>

    <section class="container"> 
        <div class="row">   
            <div class="col-12 col-md-12 col-xl-12 mt-5 text-center"> 
                <div class="card" style="width: 60%; margin: 0 auto; ">
                  <div class="card-body">
                    <h5 class="card-title fw-bold">Rantangin</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><i>Dari mahasiswa untuk mahasiswa</i></h6>
                    <p class="card-text">Terimakasih telah berbelanja dirantangin, semoga pelayanan kami memuaskan..</p>
                    <a href="#" class="card-link">Kembali berbelanja</a>
                  </div>
                </div>
                <a href="https://wa.me/62895321133979?text=ORDER+{{ order.order_id }}"><button class="btn btn-success mt-5"><i class="bi bi-whatsapp"></i> Hubungi Penjual</button></a>
            </div>
        </div>  
    </section>


      <footer class="text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Rantangin</h5>
          <img src="{% static 'img/Rantangin_logo.png' %}" alt="Rantangin Logo" class="logo">
        </div>

        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Location</h5>
            <p><i>Jl. R.Mangun Muka Raya No.11, RT.11/RW.14, Rawamangun, Kec. Pulo Gadung, Kota Jakarta Timur, Daerah Khusus Ibukota Jakarta 13220</i></p>
        </div>
      </div>
    </div>

    <div class="text-center p-3" style="background-color: #F5E8C7;">
      © 2021 Copyright |
      <a class="text-dark" href="#" style="text-decoration: none;">Rantangin</a>
    </div>
  </footer>
</body>
</html>